{% load static %}
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<div class="cont-navbar" id="myContnav">
    <a class="active" href="{% url 'home_page' %}">Home</a>
    <a href="#">News</a>
    <a href="#">Contact</a>
    <a href="#">About</a>
    <a class="icon" onclick="myFunction()">
        <i class="navbar-toggler-icon"></i>
    </a>
    <div>
        {% if user.is_authenticated %}
            <a class="logout-btn" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
        {% else %}
            <a class="signup-btn" href="{% url 'create_user' %}">Sign Up</a>
            <a class="login-btn" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>
<script>
    function myFunction() {
        let x = document.getElementById("myContnav");
        if (x.className === "cont-navbar") {
            x.className += " responsive";
        } else {
            x.className = "cont-navbar";
        }
    }
</script>